
<%= form_tag profile_path do %>
<h4> First Name:</h4>
<%= text_field_tag "f_name", current_user.first_name%>
<br>
<h4> Last Name:</h4>
<%= text_field_tag "l_name", current_user.last_name%>
<br>
<h4> Email:</h4>
<%= text_field_tag "email",  current_user.email%>
<br>
<%= submit_tag "Update" %>
<% end %>
