<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10">
      <h1>Listing Posts</h1>
    </div>
  </div>
</div>
<p> Today was an adventure to say the least. I started off the day by jumping out of bad to a head banging alarm to let me know that I was already late for class. So without hesitation I flung myself out of my bed and ran to get ready. Once I was on the road it seemed to be smooth sailing until I had to get stuck behind the old lady who was driving 30 in a 45. After I had finally made it too class I was only 5 minutes late and sat in the back. While my teacher was speaking I had zoned out into my own little world. I was a fighter pilot in world war II. I was in a dog fight with a German officer and we were having the most intense battle ever. He was right on my tail chasing me throughout the air. I could hear the bullets wizzing past my plane and racing off into the distance.
  I pulled a quick move and started to pull a 180 so fast that the German pilot could not keep up so I got behind him and now I was the chaser. I started to hone in on his plane and right before I could pull the trigger to help end this foe someone dropped a book beside me and jumped me which made me lose all concept of my dream. Then class went on and finally was over. I quickly ran to the gym where I had an eager trainer waiting for me. Once the trainer had finally stopped killing me with endless exercises I went to play basketball. The games were long and intense. It was a hard fought battle between two power house teams, the slug fest went back and forth as each team scored back to back. It was a grand war but like all great things it had to come to an end with one of my
  teammates putting the final blow with a heart felt dagger of a three pointer to win the game. With the game ending I had to scurry on to work and get ready for a long and hard shift. The shift is going just as planned and really ended on a great note. I had a great meeting with my boss and fellow employees. This day was a great one but all in all it was just an adventure from the beginning to end. </p>

    <% @posts.each do |post| %>
      <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10">
            <div class="post-preview">
                    <h2 class="post-title">
                      <%= link_to post.name, post_path(post) %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= post.description %>
                    </h3>
                </a>
                  <p class="post-meta">Posted by <a href=""> <%= post.user.full_name %></a> on <%= post.date %></p>
            </div>
        </div>
    </div>
</div>
<hr>
    <% end %>

<br>
<%= link_to 'New Post', new_post_path %>
</br>
